<h1>Enter parcel information to find shipping costs:</h1>
  <form class="form-inline" action="/output">
    <div class="form-group">
      <label for="length">Length:</label>
      <input id="length" name="length" class="form-control" type="text">
      <label for="width">Width:</label>
      <input id="width" name="width" class="form-control" type="text">
      <label for="height">Height:</label>
      <input id="height" name="height" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input id="weight" name="weight" class="form-control" type="text">
      <label for="distance">Distance to ship:</label>
      <input id="distance" name="distance" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="gift_wrap">Gift wrapping (costs extra):</label>
      <input id="gift_wrap" name="gift_wrap" class="form-control" type="checkbox">
    </div>
    <div>
    <button type="submit" class="btn btn-success">Calculate shipping</button>
    </div>
  </form>
